lib/font/tables/.DS_Store
.DS_Store
/node_modules/
node-zlib/
playground/
build/
js/
.vscode
coverage
package-lock.json
/examples/browserify/bundle.js

#yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions